@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header__inner {
  background-color: $dark-800;
}

.header__top {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  color: $white;
  text-transform: uppercase;
  @extend %opensans-700;
}

.header__connection {
  display: flex;
  justify-content: center;
}

.header__conection-item:not(:last-child) {
  margin-right: 48px;
}

.header__conection-item,
.header__about-item {
  border: 3px solid transparent;
  transition: opacity 0.5s, color 0.3s;
}

.header__conection-item:hover {
  opacity: 0.7;
}

.header__about-item:hover {
  opacity: 0.7;
}

.header__conection-item:focus {
  border: 3px solid $white;
  border-radius: 3px;
}

.header__about-item:focus {
  border: 3px solid $white;
  border-radius: 3px;
}

.header__conection-item:active {
  color: $green-200;
}

.header__about-item:active {
  color: $green-200;
}

.header__connection-image {
  display: inline-block;
  margin-right: 12px;

}

.header__about {
  display: flex;
}

.header__about-item:not(:last-child) {
  margin-right: 24px;
}

.header__wrapper {
  background-color: $green-900;
}

.header__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
}

.menu {
  display: flex;
  justify-content: space-between;


  &__catalog {
    position: relative;
    max-width: 240px;
    margin-right: 30px;
    height: 50px;
    background-color: $white;
    color: $green-900;
    padding: 15px 38px 15px 61px;
    border-radius: 6px;
    @extend %opensans-600;
  }

  &__catalog::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 18px;
    background-image: url('../images/icons/nav.svg');
    width: 25px;
    height: 17px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__catalog::after {
    content: "";
    position: absolute;
    padding-right: 13px;
    top: 23px;
    right: 19px;
    background-image: url('../images/icons/arrow-bot.svg');
    width: 4px;
    height: 7px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__search {
    margin-right: 58px;
    position: relative;
    width: 576px;
  }

  &__input {
    width: 100%;
    height: 50px;
    border-radius: 6px;
    padding-left: 50px;
    background-image: url('../images/icons/search.svg');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 13px;

    &::placeholder {
      @extend %opensans-400;
    }
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 157px;
    height: 50px;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: $dark-800;
    color: $white;
    text-transform: uppercase;
    @extend %opensans-600;
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__link--add {
    position: relative;
  }

  &__link--add::before {
    content: "12";
    position: absolute;
    z-index: 1;
    top: -9px;
    left: -6px;
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: 10px;
    line-height: 100%;
    font-weight: 600;
    letter-spacing: 0.03em;
    border-radius: 50%;
    background-color: $white;
    color: $red-900;
    @extend %opensans-600;
    font-size: 10px;
    line-height: 17px;
  }

  &__item {
    padding: 9px 12px;
    color: $white;
    background-color: $green-900;
    border: 3px solid transparent;
    border-radius: 3px;
    transition: opacity 0.5s;
  }

  &__item:hover {
    opacity: 0.1;
  }

  &__item:focus {
    border: 3px solid $white;
    border-radius: 3px;
  }

  &__item:active {
    opacity: 0.1;
  }

  &__item:not(:last-child) {
    margin-right: 24px;
  }
}

.footer {
  background-color: $dark-800;
  color: $white;
  @extend %opensans-400;
  padding: 30px 0;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid $white;
  padding-bottom: 30px;

  &__logo {
    margin-bottom: 30px;
  }

  &__label {
    display: block;
    margin-bottom: 18px;
  }

  &__input {
    max-width: 180px;
    width: 100%;
    height: 40px;
    padding: 12px;
    border-radius: 6px 0 0 6px;
    border: none;

    &::placeholder {
      font-size: 14px;
      line-height: 14px;
      @extend %opensans-400;
    }
  }

  &__btn {
    position: absolute;
    padding: 12px 16px;
    border: none;
    border-radius: 0 6px 6px 0;
    text-transform: uppercase;
    background-color: $green-900;
    @extend %opensans-700;
    font-size: 12px;
    line-height: 16px;
  }

  &__info {
    column-count: 3;
  }

  &__item {
    margin-right: 75px;

    &:not(:last-child) {
      margin-bottom: 28px;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
  }

  &__tel,
  &__adress {
    display: block;
    margin-bottom: 18px;
  }

  &__social {
    display: flex;
  }

  &__social-link:not(:last-child) {
    margin-right: 12px;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;

  &__pay {
    display: flex;
  }

  &__card:not(:last-child) {
    margin-right: 24px;
  }
}

.slider {
  &__item {
    @extend %bg;
  }

  &__text {

    padding: 24px;
    margin: 142px auto;
    background-color: $white;
    opacity: 0.8;
  }

  &__title {
    max-width: 761px;
    @extend %ruda-900;
    font-size: 60px;
    line-height: 1.3;
    text-transform: uppercase;
  }

  &__span {
    color: $red-900;
  }

  &__subtitle {
    @extend %opensans-400;
    font-size: 16px;
    line-height: 1.4;
    color: $dark-500;
    margin-bottom: 32px;
  }

  &__btn {
    padding: 12px 24px;
    border-radius: 6px;
    background-color: $green-900;
    color: $white;
    @extend %opensans-400;
    font-size: 18px;
    line-height: 1.3;
  }
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  padding: 14px 21px;
  width: 60px;
  height: 60px;
  border: 3px solid transparent;
  border-radius: 6px;
  background-color: $white;
  opacity: 0.8;
  transition: background-color 0.5s, color 0.5s;
}

.slick-prev {
  left: 60px;
}

.slick-next {
  right: 60px;
}

.slick-prev:hover {
  background-color: $green-200;
}

.slick-next:hover {
  background-color: $green-200;
}

.slick-prev:focus {
  border: 3px solid $green-900;
}

.slick-prev:focus {
  border: 3px solid $green-900;
}

.about {
  background-color: $silver-100;

  &__list {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 48px 0 29px 0;
    color: $dark-500;
    line-height: 1.4;
  }

  &__item {
    position: relative;
    max-width: 264px;
    width: 100%;
    padding-left: 75px;
  }

  &__item:not(:last-child) {
    margin-right: 65px;
  }

  &__item::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    @extend %bg;
  }

  &__item--scooter::before {
    background-image: url('../images/icons/scooter.svg');
  }

  &__item--box::before {
    background-image: url('../images/icons/box.svg');
  }

  &__item--24hours::before {
    background-image: url('../images/icons/24-hours.svg');
  }

  &__title {
    @extend %opensans-600;
    font-size: 16px;
  }

  &__text {
    @extend %opensans-400;
  }
}

.product {
  padding: 72px 0;

  &__title {
    margin-bottom: 30px;
  }

  &__filter {
    margin-bottom: 48px;
  }

  &__item:not(:last-child) {
    margin-right: 24px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-bottom: 48px;
  }

  &__items {
    position: relative;
    max-width: 300px;
    border: 1px solid rgba(17, 17, 17, 0.2);
    border-radius: 6px;
    background-color: $white;
  }

  &__btn {
    display: block;
    margin: 0 auto;
    padding: 12px 24px;
    border: 1px solid $green-900;
    border-radius: 6px;
    color: $green-900;
  }
}

.title {
  text-align: center;
  font-size: 32px;
  line-height: 1.4;
  color: $dark-900;
  @extend %ruda-600;
}

.filter {
  display: flex;
  justify-content: center;
  font-size: 15px;
  line-height: 1.4;
  color: $dark-500;
  @extend %opensans-700;
}

.title,
.filter {
  text-transform: uppercase;
}

.product-pineapple,
.product-lemon,
.product-dragon,
.product-ketchup,
.product-carrot,
.product-juice,
.product-coffee,
.product-paprik {
  &__badges {
    position: relative;
    height: 38px;
    margin: 12px 12px 7px 12px;
    font-size: 10px;
    line-height: 1;
    @extend %opensans-700;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 32px;
      height: 28px;
      border: 3px solid transparent;
      border-radius: 3px;
      background-image: url('../images/product/icon/favorite.svg');
      @extend %bg;
      transition: color 0.5s, opacity 0.5s;
    }

    &__badges::after(:hover) {
      color: $yellow-900;
    }

    &__badges::after(:focus) {
      border: 3px solid $green-200;
      border-radius: 3px;
    }

    &__badges::after(:active) {
      color: $yellow-900;
      opacity: 0.5;
    }
  }

  &__offer {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__top,
  &__sale {
    display: inline-block;
    padding: 3px 6px;
    border-radius: 6px;
    color: $white;
    background-color: $green-900;
    text-transform: uppercase
  }

  &__top {
    margin-bottom: 6px;
    background-color: $green-900;
  }

  &__sale {
    background-color: $red-900;
  }

  &__image::before {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../images/product/icon/search.svg');
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $white;
  }

  &__image::before(:hover) {
    display: block;
    z-index: 1000;
  }

  &__bottom {
    height: 101px;
    position: relative;
    margin: 18px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 32px;
      height: 32px;
      padding: 8px;
      border-radius: 6px;
      background-image: url('../images/product/icon/cart.svg');
      background-color: $green-900;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__title {
    font-size: 14px;
    line-height: 1.4;
    color: $dark-900;
    @extend %opensans-600;
  }

  &__price {
    position: absolute;
    bottom: 0;
    left: 0;
    color: $dark-500;
  }

  &__old {
    position: relative;
    color: $silver-600;

    &::before {
      content: "";
      position: absolute;
      width: 45px;
      height: 50%;
      border-bottom: 1px solid #C1C1C1;
      transform: rotate(-15deg);
    }
  }
}

.product-dragon,
.product-carrot,
.product-coffee,
.product-paprik {

  &__sale {
    display: none;
  }

}

.product-lemon,
.product-dragon,
.product-ketchup,
.product-carrot,
.product-coffee,
.product-paprik {
  &__old {
    &::before {
      content: "";
      display: none;
    }
  }
}

.product-dragon,
.product-carrot {
  &__top {
    background-color: $orange-900;
  }
}


.product-lemon,
.product-ketchup {

  &__top,
  &__sale {
    display: none;
  }

}

.product-juice {
  &__top {
    display: none;
  }

  &__sale {
    top: 0;
  }
}





@import 'media';